# Directories
fdp_venv/
djangotutorial/
old_points_predictors/
models/
__pycache__/
.[!.]*/
training_results/
player_data/




# Temporary files
*.pyc
*.pyo
*.swp
*.log

# Other files
*.txt
*.json
*.csv
*.png
.DS_Store