# Directories
fdp_venv/
djangotutorial/
old_points_predictors/
models/
stats_category_models/
__pycache__/
.[!.]*/
training_results/
player_data/
fdp2.egg-info/
debug/
predictions/

# Temporary files
*.pyc
*.pyo
*.swp
*.log

# Other files
*.txt
*.json
*.csv
*.png
.DS_Store